@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nuosu+SIL&display=swap');

:root {
    --header-height: 70px;
    --primary-color: #1d375a;
    --white-color: #fff;
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --width-left-sidebar: 240px;
    --width-right-sidebar: 330px;
    --content-padding: 0 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Joan', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nuosu SIL', serif;
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    line-height: 1.5;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
    z-index: 500;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 500;
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 500;
}
button,
input,
[tabindex] {
    display: block;
    outline: none;
    border: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
