@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nuosu+SIL&display=swap');

:root {
    --header-height: 70px;
    --primary-color: #1d375a;
    --white-color: #fff;
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Joan', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nuosu SIL', serif;
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    line-height: 1.5;
}
button,
input,
[tabindex] {
    display: block;
    outline: none;
    border: none;
    background-color: var(--white-color);
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}
