.container {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1d375a;
    overflow: hidden;
    z-index: 20;
    position: relative;
}
.right-content {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: var(--header-height);
    width: 100vw;
    flex: 1;
    padding: var(--content-padding);
}

@media only screen and (max-width: 1535px) {
    .right-content {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .right-content,
    .left-content {
        display: none;
    }
}

@media only screen and (max-width: 739px) {
    .left-content {
        display: none;
    }
    .content {
        padding: 0 16px 60px 16px;
    }
}
