.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.container {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #1d375a;
    overflow: hidden;
    z-index: 20;
    overflow-y: hidden;
    position: relative;
    height: 100vh;
}
.left-content {
    overflow-y: hidden;
    height: 100vh;
}
.right-content {
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: var(--header-height);
    width: 100vw;
    height: 100vh;
    flex: 1;
    padding: var(--content-padding);
}

@media only screen and (max-width: 1535px) {
    .right-content {
        display: none;
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
}

@media only screen and (max-width: 739px) {
    .left-content {
        display: none;
    }
    .content {
        padding: 0 16px 140px 16px;
    }
}
