.container {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    background-color: #1d375a;
    overflow: hidden;
}

.content {
    display: block;
    width: 100vh;
    flex: 1;
    padding: 0 60px;
}
