.container {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    background-color: #1d375a;
    overflow: hidden;
    z-index: 20;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: var(--header-height);
    width: 100vh;
    flex: 1;
    padding: var(--content-padding);
}
