.header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 4rem;
    margin: 0;
    color: var(--text-primary);
}

.play-btn {
    margin-left: 5px;
    background-color: #3460f5;
    color: var(--text-primary);
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        filter: brightness(0.9);
    }
    display: flex;
    align-items: center;
    justify-content: center;
}
