.container {
    display: block;
    margin-right: -15px;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    padding-top: 20px;
}

.casourel-list {
    margin: 0 -15px;
}

.next-btn,
.prev-btn {
    display: inline;
}

.carousel-item {
    padding: 15px;
    cursor: pointer;
}
