.container {
    margin-top: 20px;
    width: 100%;
}

.title {
    margin-bottom: 16px;
    color: var(--text-primary);
}
.wrapper {
    display: block;
}

.list {
    // width: 100%;
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
}
