.container {
    margin-top: 20px;
    width: 100%;
}

.title {
    margin-bottom: 16px;
    color: var(--text-primary);
}
.wrapper {
    display: block;
}

@media screen and (min-width: 1024px) {
    .list {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}
