.wrapper {
    flex: 1;
    position: fixed;
    top: 0;
    left: var(--width-left-sidebar);
    right: var(--width-right-sidebar);
    height: var(--header-height);
    padding: 0 60px;
    background-color: var(--primary-color);
    border-bottom: 1px solid #172c48;
    display: flex;
    align-items: center;
    z-index: 100;
}

.menu {
    position: absolute;
    display: none;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.menu.display {
    transform: translateX(0);
    transition: transform 0.5s;
}

.menu-btn {
    display: none;
    padding: 8px 12px;
    margin-right: 12px;
    font-size: 3rem;
    color: var(--text-primary);
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

@media only screen and (max-width: 1535px) {
    .wrapper {
        right: 0;
    }
}

@media only screen and (max-width: 1023px) {
    // .wrapper {
    //     left: 0;
    // }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        left: 68px;
    }
}

@media only screen and (max-width: 739px) {
    .wrapper {
        left: 0;
        padding: 0 16px;
    }
    .menu-btn {
        display: block;
    }
    .menu {
        display: block;
        top: 100%;
        left: 0;
        background-color: #294162;
        height: 100vh;
        border-right: 1px solid #333;
    }
}
