.wrapper {
    flex: 1;
    position: fixed;
    top: 0;
    left: var(--width-left-sidebar);
    right: var(--width-right-sidebar);
    height: var(--header-height);
    padding: 0 60px;
    background-color: var(--primary-color);
    border-bottom: 1px solid #172c48;
    display: flex;
    align-items: center;
    z-index: 100;
}

@media only screen and (max-width: 1280px) {
    .wrapper {
        right: 0;
    }
}

@media only screen and (max-width: 1023px) {
    .wrapper {
        left: 0;
    }
}

@media only screen and (max-width: 739px) {
    .wrapper {
        left: 0;
        padding: 0 16px;
    }
}
